@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-purple-50 via-blue-50 to-indigo-100 transition-colors duration-300;
}

html.dark body {
  @apply bg-gradient-to-br from-gray-900 via-gray-950 to-gray-800 transition-colors duration-300;
}
